.headerPrincipal .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}

.headerPrincipal-nav{
   display: flex;
}
.contenidPrincipal .container{
    display: flex;
    flex-direction: column;
}
nav .contenidoPrincipal-cursos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px; 
    margin-bottom: 20px;
}

.videoSobre .container{
    display: flex;
    
}

.rodapiePrincipal-navMap{
    display: flex;
    flex-direction: column;
}
.rodapePrincipal-navMap-list{
    height: 300px;
    display:flex ;
    flex-direction: column;
    flex-wrap: wrap;
}
.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}
.rodapePrincipal-patrocinadores-list{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5%;
}
.rodapePrincipal-contatoForm{
    width: 25%;
}
.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}
